.textoNav{
  text-align: right;
}

body{
  background-color: black;
}

.hr{
 background-color: #18C5E5 ;
}

.fondo{
    background-color: #18C5E5;
}

.card{
    background-color: #18C5E5;
    color: white;
  }

  footer{
    background-color: #18C5E5;
  }
